<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <title>Hello world</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
  <nav class="nav navbar bg-dark text-white">
    <li class="nav-item">
      <a class="nav-link active" href="javascript:;">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/auth/logout">Logout</a>
    </li>
  </nav>
  <div class="container mt-3">
    <div class="row">
      <% if(user.google){ %>
      <div class="col-md-6">
        <h1>Google Login Details</h1>
        <img src="<%= user.profile.photos %>" alt="">
        <p>This is my Profile Picture</p>
        <p>Name: <%= user.profile.name %></p>
        <p>Google Id: <%= user.google %></p>
        <p>Email: <%= user.email %></p>
      </div>
      <%} else { %>
      <div class="col-md-6">
        <h1>Facebook Login Details</h1>
        <!-- <img src="<%= user.profile.photos %>" alt="">
        <p>This is my Profile Picture</p> -->
        <p>Name: <%= user.profile.name %></p>
        <p>Facebook Id: <%= user.facebook %></p>
        <p>Email: <%= user.email %></p>
      </div>
      <% } %>
    </div>
  </div>


</body>

</html>